:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    
  }
  
  body {
    margin: 0;
    padding: 1rem;
    padding-left: 1rem;
    min-width: 100vw;
    min-height: 100vh;
    background-color: gray;
    
  }

  @keyframes anima {
      from{
        background-color: blue;
      }
      to {
        background-color: yellowgreen;
      }
  }

  .mural {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }

  .esporte {
    background-color: lightblue;
  }
 
  .entretenimento {
    background-color: lightblue;
  }

  .politica {
    background-color: lightblue;
  }
 
 .imagemBet {
  text-align: center;
  justify-content: center;
  align-items: center;
 }

 .a{
  background-color: whitesmoke;
 }